.input:focus {
  border: 5px solid #654ec2;
}

.input {
  width: 372px;
  height: 36px;
  border-radius: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
  border: 1px solid #D1D1D1;
}

.errorInput {
  border: 1px solid #CC1439;
  order: 2;
}

.errorInput:focus {
  border: 5px solid #da0932;
}

.error {
  order: 1;
  margin-bottom: 5px;
  /*font-family: 'Montserrat';*/
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #CC1439;
}
