.buttonsContainer {
  margin-top: 27px;
  display: flex;
  gap: 21px;
}

.clock {
}

.watch {
  font-size: 20px;
}

.watch strong {
}

.more {
  margin-top: 8px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}