.App {
    --header_height: 60px;
    margin: 0 auto;
    max-width: 1280px;
}

.hw {
    padding: 24px 70px 35px;
    margin: 24px auto 35px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
