.App {
  --header_height: 60px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.hw {
  max-width: 1280px;
  padding: 24px 70px 35px;
  margin: 10px auto 37px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
  max-width: 1280px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 70px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

#hw1 {
  max-width: 1280px;
}
