.greetingForm {
    padding-top: 6px;
}

.inputAndButtonContainer {
    margin-top: 9px;
    display: flex;
    gap: 12px;
}

.error {
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    padding: 8px 12px;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

.errorInput {
    border-color: #CC0000;
}

.button {
    border: none;
    cursor: pointer;
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

.button:active {
    background: #5c5cea;
}

.button:disabled {
    opacity: 0.5;
    cursor: inherit;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
