.sendForm {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textarea {
    padding: 12px 24px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 976px;
    min-height: 40px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    overflow: hidden;
}

.button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border:none;
}

.button:hover {
    filter: brightness(125%);
}
.button:active {
    filter: brightness(75%);
}
