.burgerMenuIcon {
  cursor: pointer;
}

.header {
  padding: 0 70px;
  margin: 0 auto 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
  min-height: 60px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}