.button {
  transition: all 0.5s ease-out;
  cursor: pointer;
  /*width: 132px;*/
  /*height: 30px;*/
  padding: 5px 24px;
  border-radius: 3px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.disabled {
  color: #002E5C;
  background: #004D99;
  opacity: 0.5;
}

.secondary {
  color: #0066CC;
  /*width: 176px;*/
  border: 1px solid #0066CC;
  border-radius: 3px;
}

.default {
  background: #0066CC;
}

.red {
  background: #CC1439;
}

.default:hover {
  background: #0080FF;
}

.red:hover {
  background: #FF1A47;
}

.secondary:hover {
  background: #E5F0FA;
}


.default:active {
  background: #0059B3;
}

.secondary:active {
  background: #C9E5FF;
}

.red:active {
  background: #B31232;
}

.button:disabled {
  cursor: inherit;
}
